<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Typhoon list</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='03_台风.png') }}">
        Typhoon list
    </h2>
    <ul class="movie-list">
        <li>
            Page Not Found - 404
            <span class="float-right">
                <a href="{{ url_for('index') }}">Go Back</a>
            </span>
        </li>
    </ul>
    <footer>
        <small>&copy; 2024 <a href="https://www.heywhale.com/home/user/profile/61e52e3c493de200178fb330/overview">GeoPanda</a></small>
    </footer>
</body>
</html>